* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

button {
  outline: none;
  border: none;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #f0f0f0;
}
/* ========== BOILERPLATE */
.container {
  padding: 0 1rem;
}

.button-class {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 1px solid #4e4e4e;
}

.button-class:hover {
  transition: ease-in-out 0.3s;
}

/* =============== HEADER */
.header {
  height: 3.5rem;
  background-color: white;
}

.header__container {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__container a h1 {
  font-size: 1.5rem;
}

/* =============== MAIN */
.main {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 1fr auto auto;
  gap: 2rem;
}

.infos-displayed {
  grid-column: span 3;
}

@media (min-width: 768px) {
  .infos-displayed {
    grid-column: span 2;
    grid-row: span 2;
  }
}

@media (min-width: 1024px) {
  .infos-displayed {
    grid-column: 2;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  column-gap: 1rem;
  padding: 0.75rem 0;
}

.btn-infos {
  background-color: hsla(158, 71%, 61%, 1);
}

.btn-infos:hover {
  background-color: hsla(158, 71%, 41%, 1);
}

.btn-get {
  background-color: hsla(338, 71%, 61%, 1);
}

.btn-get:hover {
  background-color: hsla(338, 71%, 41%, 1);
}

.update {
  background-color: white;
  border-radius: 15px;
  height: 80vh;
  padding: 1rem;
  overflow-y: scroll;
  border: 0.5px solid #4e4e4e;
}

.update::-webkit-scrollbar {
  background: transparent;
}

.update::-webkit-scrollbar-button {
  display: block;
  height: 0.1rem;
}

.update::-webkit-scrollbar-thumb {
  background-color: #cacaca;
  border-radius: 20px;
}

.box {
  height: fit-content;
  border-radius: 15px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #000;
  width: 100%;
}

.box p {
  font-size: 1.2rem;
  color: white;
}

.box p:nth-child(3),
.boxThree {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.5rem 0 0;
  text-align: end;
  color: white;
}

/* ================ FAVORITES */
.favorites {
  padding: 1rem;
  grid-column: span 3;
  grid-row: 3;
  background-color: #fff;
  border-radius: 15px;
  height: 20rem;
  margin-bottom: 5rem;
  border: 0.5px solid #4e4e4e;
  overflow-y: scroll;
}

.favorites::-webkit-scrollbar {
  background: transparent;
}

.favorites::-webkit-scrollbar-button {
  display: block;
  height: 0.1rem;
}

.favorites::-webkit-scrollbar-thumb {
  background-color: #cacaca;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .favorites {
    grid-column: 3;
    grid-row: 2;
  }
}

@media (min-width: 1024px) {
  .favorites {
    grid-column: 1;
    grid-row: 1;
    margin-top: 4rem;
  }
}

.box-favorite {
  margin-bottom: 2rem;
  border-radius: 15px;
  padding: 0.5rem;
  background: #fff;
  border: 0.5px solid #4e4e4e;
}

/* ================ WEATHER */
.weather {
  padding: 1rem;
  grid-column: span 3;
  grid-row: 2;
  background-color: #fff;
  border-radius: 20px;
  height: 20rem;
  border: 0.5px solid #4e4e4e;
  overflow-y: hidden;
}

@media (min-width: 768px) {
  .weather {
    grid-column: 3;
    grid-row: 1;
    margin-top: 4rem;
  }
}

.weather > h2 {
}

.user {
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  row-gap: 0.5rem;
  margin-top: 1rem;
  /* border: 1px solid red; */
}

.text {
  grid-column: 1;
  align-self: center;
}

.text h2 {
  font-size: 2.5rem;
}

.text h3 {
  font-size: 1.3rem;
}

.weather-box-icon {
  grid-column: 2;
  display: flex;
  justify-content: center;
}

.weather-icon {
  font-size: 5rem !important;
}

.desc {
  grid-column: span 2;
}

.desc p {
  font-size: 0.868rem;
  font-weight: 500;
}
